* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
button, a {
    cursor: pointer;
}
ul {
    list-style-position: inside;
}

body {
    background: #ececec;
}

.App {
    width: 70%;
    margin: 0 auto;
    background: #fff;
}

header, footer {
    padding: 50px 100px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    .title {
        font-family: 'Rock Salt', Tahoma, cursive;
        color: #000000;
        font-weight: bold;
        font-size: 30px;
        line-height: 45px;
    }

    nav {
        display: flex;
        flex-flow: row nowrap;
        
        button {
            margin-left: 10px;
            padding: 10px 20px;
            background: transparent;
            border-radius: 5px;
            border: 0;
            font-size: 17px;
            color: #000;
        }

    }
}

section {
    padding: 50px 100px;
    // background: #fff;
    height: 100%;
    // border-radius: 20px 20px 20px 20px;
    position: relative;
    overflow: hidden;

    h1 {
        color: #000;
        text-align: center;
    }

    .projects {
        display: flex;
        flex-flow: column nowrap;
        z-index: 3;
        
        p {
            padding: 25px 0px 10px;
        }

        i {
            margin-right: 25px;
            font-size: 30px;
        }

        img {
            width: 50%;
        }

        .container {
            display: flex;
            flex-flow: row nowrap;
            padding-top: 50px;

            div {
                width: 50%;
                padding: 25px 50px;

                ul {
                    padding-bottom: 25px;
                }
            }
        }
    }
}