$tablet: 800px;
$color-primary: #00A3FF;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {width: 100%;}

body, div, input, form, textarea, li, h1, h2, h3, h4, h5, h6, p, aside, label, span, a, button {
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
}

p {
    font-size: 1.2rem;
    margin-bottom: 1.0rem;

    &.accent {
        height: 57px;
        border-left: 2px solid $color-primary;
        margin: 0 0 50px;
    }
}

button, a, i {
    cursor: pointer;
    font-weight: bold;
}

button {
    padding: 10px 40px;
    background: $color-primary;
    border: none;
    border-radius: 5px;
    color: #fff;
    transition: 0.2s;

    &:hover {
        background: darken($color-primary, 5%);
    }
}

a {
    text-decoration: none;
    color: #000;
}

ul {
    list-style-position: inside;
}

hr {
    background: linear-gradient(to right, #000, transparent);
    height: 2px;
    border: none;
    margin-bottom: 1.5rem;
}
img {
    display: block;
}
iframe {
    border: none;
}

section {
    padding: 3.5rem 30px;
}

header {
    position: fixed;
    bottom: 0;
    z-index: 2;
    width: 100%;
    padding: 15px 30px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    border-top: 1px solid #8D8D8D;

    .mobile button {
        &:hover {
            background: #fff;
        }
    }

    p {
        margin-bottom: 0;

        // &.title a {
        //     font-weight: 100;
        //     font-style: italic;
        // }
    }

    button {
        background: none;
        border: none;
        padding: 0;
    }

    div.modal-menu {
        display: flex;
        flex-flow: column nowrap;
        align-items: flex-end;
        width: 100%;
        height: 300px;
        position: fixed;
        bottom: 0;
        left: 0;
        -webkit-transition: all 0.1s linear;
        -moz-transition: all 0.1s linear;
        -o-transition: all 0.1s linear;
        transition: all 0.1s linear;

        &.closed {
            height: 0px;
        }

        a {
            width: 100%;
        }

        button {
            width: 100%;
            padding: 10px;
            font-size: 36px;
            text-align: left;
            color: #000;
            border-top: 2px solid #c4c4c4;
            text-align: left;
            background: #fff;
            border-radius: 0;
        }

        img {
            cursor: pointer;
            text-align: right;
            width: 70px;
            padding: 10px 25px;
            background: #474747;
            margin-bottom: 0;

        }
    }
}

.App {
    margin: 0 auto;
}

.hero {
    background: #797979;
    display: flex;
    flex-flow: column;
    align-items: flex-end;

    h1 {
        font-size: 50px;
        color: #fff;
        font-weight: bold;
        margin-bottom: 10px;
    }
    p {
        width: 100%;
        color: #fff;
        font-size: 15px;
        margin-bottom: 10px;
    }
    button {
        float: right;
    }
}

.sub-hero {
    padding: 50px;
    position: relative;
    background-color: #797979;

    h1 {
        font-size: 50px;
        text-align: center;
        color: #fff;
    }
    
    p {
        position: absolute;
        bottom: 0;
        margin: 0
    }
}

.cards {
    position: relative;

    div.card-cont {
        position: relative;
        height: 150px;
        color: white;
        background: $color-primary;
        padding: 20px;
        border-radius: 5px;
        margin-bottom: 20px;

        img {
            position: absolute;
            right: 15px;
            bottom: 15px;
            color: #fff;
            transition: 0.2s;
        }

        &:hover {
            background: darken($color-primary, 5%);

            img {
                right: 10px;
            }
        }
    }

    a {
        margin-left: 10px;
    }
}

section.story {
    display: flex;
    flex-flow: row nowrap;
    background-color: #474747;

    & > * {
        width: 50%;
        padding: 0 20px;
    }

    iframe {
        height: 363px;
    }

    div {
        height: 187px;
        padding-left: 15px;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;

        p.accent {
            margin: 0;
        }
    }

    h2 {
        font-size: 37px;
        color: #fff;
    }
}

section.experience {
    & > * {
        width: 50%;
        padding: 0 20px;
    }

    h2 {
        font-size: 38px;
        margin-bottom: 30px;
    }

    ul {
        list-style: none;

        li {
            margin-bottom: 10px;
            font-size: 1.2rem;
        }
    }
}

section.social {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    background-color: #C4C4C4;
    padding: 15px 30px;

    p {
        margin-bottom: 0;
        width: 30%;
    }

    div {
        height: 40px;
        width: 70%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-end;

        p.accent {
            width: auto;
            height: 100%;
        }

        a {
            width: 40px;
            margin-right: 10px;
            border-radius: 5px;
            background: white;
            transition: 0.5s;

            &:hover {
                width: 80px;
            }
        }

        img {
            width: 100%;
            height: 100%;
            padding: 8px;
        }
    }
}

.projects-cont {

    div.card-cont  {
        padding: 0;
        height: 100%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        overflow: hidden;

        &:last-child {
            margin-bottom: 0;
        }

        div {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            align-items: center;
            padding: 10px;

            h3 {
                max-width: 70%;
            }

            &.icons {
                padding: 0;
            }

            a {
                position: relative;
                transition: 0.5s;
                right: 0;

                &:hover {
                    right: -2px;
                }
            }

            img {
                width: 27px;
                height: 27px;
                position: relative;
                right: 0;
                bottom: initial;
                // margin-right: 10px;
            }

        }

        img.featured {
            width: 100%;
            height: auto;
            position: relative;
            right: initial;
            bottom: initial;
        }

        &:hover {
            background: $color-primary;

            img {
                right: initial;
            }
        }
    }

}

.project-cta {
    background-color: #797979;
    display: flex;
    flex-flow: column nowrap;
    justify-self: flex-end;

    h2 {
        font-size: 37px;
        color: #fff;
        margin-bottom: 50px;
    }

    button {
        float: right;
    }
}

section.about {
    img {
        max-height: 347px;
        width: 100%;
        margin-bottom: 20px;
    }

    .icons {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;

        p {
            margin-bottom: 20px;
        }

        div {
            cursor: pointer;
            position: relative;
            width: 40px;
            min-width: 40px;
            height: 40px;
            border-radius: 25px;
            background-color: #E5E5E5;
            overflow: hidden;
            font-style: italic;
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            transition: 0.2s;

            &.active {
                width: 100%;
                background-color: #797979;
                color: #fff;
                font-weight: normal;
            }

            span {
                margin: 0 17px;
                color: $color-primary;
                font-weight: bold;
            }
        }
    }
}

section.contact {    
    h2 {
        font-size: 35px;
        margin-bottom: 20px;
    }
    
    form {
        display: flex;
        flex-flow: column nowrap;
        align-items: flex-end;
    }

    label, input, textarea {
        display: block;
        width: 100%;
        margin-bottom: 5px;
    }

    input, textarea {
        border: 1px solid #000;
        font-size: 16px;
        border-radius: 5px;
        padding: 10px;
        margin-bottom: 10px;
    }

    label {
        font-size: 20px;
    }

    button {
        width: 65%;
    }
}

.blank {
    height: 56px;
    width: 100%;
    padding: 0;
    margin: 0;
}
.desktop {display: none}

@media (min-width: 450px) {
    body {
        max-width: 450px;
        background-color: #fff;
    }
    html {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #242424;
    }
    header {
        max-width: 450px;

        div.modal-menu {
            max-width: 450px;
            left: calc((100% - 450px) / 2);
        }
    }
}

@media (min-width: $tablet) {
    body {
        max-width: 100%;
    }

    header, section.social {
        padding-left: 7.0rem;
        padding-right: 7.0rem;
    }

    #home section.cards > div {
        width: 50%;
        margin: 0px 20px;

        h2 {
            font-size: 2.0rem;
            margin-bottom: 20px;
        }

        p {
            line-height: 2.0rem;
            
            a {
                margin: 0;
                font-weight: normal;
                text-decoration: underline;
            }
        }
    }

    section {
        // padding: 7.0rem 30px;
        padding: 7.0rem;

        &.cards {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-evenly;

            a {
                margin-left: 10px;
                width: 100%;
            }
        }

        &.projects-cont {
            flex-flow: wrap;

            .card-cont {
                width: 47.5%;
            }
        }

        &.about {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-evenly;

            &>div {width: 30%;}

            img {
                width: auto;
            }

            .icons {
                width: 20%;
                flex-direction: column;
                justify-content: flex-start;

                div {margin-bottom: 30px;}
            }
        }

        // &.story iframe {
        //     height: 300px;
        // }

        &.experience {
            display: flex;
            justify-content: space-around;
            align-items: center;
        }

        &.contact, &.details {
            width: 50%;
            margin: 0 auto;
        }
    }

    .hero {
        justify-content: flex-start;

        h1 {
            width: 100%;
            text-align: left;
        }
    }

    header {
        max-width: 100%;
        position: relative;
        padding: 1.25rem 7.0rem;

        button {
            color: #000;
            padding: 10px;
            font-weight: normal;
            
            &:hover {
                background-color: #f2f2f2;
            }
        }
    }
    
    .blank {
        height: 0;
    }
    .desktop {
        display: block;
    }
    .mobile {
        display: none;
    }
}