* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100%;
}

body, div, input, form, textarea, li, h1, h2, h3, h4, h5, h6, p, aside, label, span, a, button {
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
}

p {
  font-size: 1.2rem;
  margin-bottom: 1.0rem;
}

p.accent {
  height: 57px;
  border-left: 2px solid #00A3FF;
  margin: 0 0 50px;
}

button, a, i {
  cursor: pointer;
  font-weight: bold;
}

button {
  padding: 10px 40px;
  background: #00A3FF;
  border: none;
  border-radius: 5px;
  color: #fff;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

button:hover {
  background: #0093e6;
}

a {
  text-decoration: none;
  color: #000;
}

ul {
  list-style-position: inside;
}

hr {
  background: -webkit-gradient(linear, left top, right top, from(#000), to(transparent));
  background: linear-gradient(to right, #000, transparent);
  height: 2px;
  border: none;
  margin-bottom: 1.5rem;
}

img {
  display: block;
}

section {
  padding: 3.5rem 30px;
}

header {
  position: fixed;
  bottom: 0;
  z-index: 2;
  width: 100%;
  padding: 15px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #fff;
  border-top: 1px solid #8D8D8D;
}

header .mobile button:hover {
  background: #fff;
}

header p {
  margin-bottom: 0;
}

header p.title a {
  font-weight: 100;
  font-style: italic;
}

header button {
  background: none;
  border: none;
  padding: 0;
}

header div.modal-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 100%;
  height: 300px;
  position: fixed;
  bottom: 0;
  left: 0;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

header div.modal-menu.closed {
  height: 0px;
}

header div.modal-menu a {
  width: 100%;
}

header div.modal-menu button {
  width: 100%;
  padding: 10px;
  font-size: 36px;
  text-align: left;
  color: #000;
  border-top: 2px solid #c4c4c4;
  text-align: left;
  background: #fff;
  border-radius: 0;
}

header div.modal-menu img {
  cursor: pointer;
  text-align: right;
  width: 70px;
  padding: 10px 25px;
  background: #474747;
  margin-bottom: 0;
}

.App {
  margin: 0 auto;
}

.hero {
  background: #797979;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.hero h1 {
  font-size: 50px;
  color: #fff;
  font-weight: bold;
  margin-bottom: 10px;
}

.hero p {
  width: 100%;
  color: #e5e5e5;
  font-size: 15px;
  margin-bottom: 10px;
}

.hero button {
  float: right;
}

.sub-hero {
  padding: 50px;
  position: relative;
  background-color: #797979;
}

.sub-hero h1 {
  font-size: 50px;
  text-align: center;
  color: #fff;
}

.sub-hero p {
  position: absolute;
  bottom: 0;
  margin: 0;
}

.cards {
  position: relative;
}

.cards div.card-cont {
  position: relative;
  height: 150px;
  color: white;
  background: #00A3FF;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.cards div.card-cont img {
  position: absolute;
  right: 15px;
  bottom: 15px;
  color: #fff;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.cards div.card-cont:hover {
  background: #0093e6;
}

.cards div.card-cont:hover img {
  right: 10px;
}

section.story {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  background-color: #474747;
}

section.story iframe {
  width: 60%;
  height: 187px;
}

section.story div {
  height: 187px;
  padding-left: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

section.story div p.accent {
  margin: 0;
}

section.story h2 {
  font-size: 37px;
  color: #fff;
}

section.experience h2 {
  font-size: 38px;
  margin-bottom: 30px;
}

section.experience ul {
  list-style: none;
}

section.experience ul li {
  margin-bottom: 10px;
}

section.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #C4C4C4;
  padding: 15px 30px;
}

section.social p {
  margin-bottom: 0;
  width: 30%;
}

section.social div {
  height: 40px;
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

section.social div p.accent {
  width: auto;
  height: 100%;
}

section.social div a {
  width: 40px;
  margin-right: 10px;
  border-radius: 5px;
  background: white;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

section.social div a:hover {
  width: 80px;
}

section.social div img {
  width: 100%;
  height: 100%;
  padding: 8px;
}

.projects-cont div.card-cont {
  padding: 0;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden;
}

.projects-cont div.card-cont:last-child {
  margin-bottom: 0;
}

.projects-cont div.card-cont div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
}

.projects-cont div.card-cont div.icons {
  padding: 0;
}

.projects-cont div.card-cont div a {
  position: relative;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  right: 0;
}

.projects-cont div.card-cont div a:hover {
  right: -2px;
}

.projects-cont div.card-cont div img {
  width: 27px;
  position: relative;
  right: 0;
  bottom: initial;
  margin-right: 10px;
}

.projects-cont div.card-cont img.featured {
  width: 100%;
  height: auto;
  position: relative;
  right: initial;
  bottom: initial;
}

.projects-cont div.card-cont:hover {
  background: #00A3FF;
}

.projects-cont div.card-cont:hover img {
  right: initial;
}

.project-cta {
  background-color: #797979;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  justify-self: flex-end;
}

.project-cta h2 {
  font-size: 37px;
  color: #fff;
  margin-bottom: 50px;
}

.project-cta button {
  float: right;
}

section.about img {
  width: 100%;
  margin-bottom: 20px;
}

section.about .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

section.about .icons p {
  margin-bottom: 20px;
}

section.about .icons div {
  cursor: pointer;
  position: relative;
  width: 40px;
  min-width: 40px;
  height: 40px;
  border-radius: 25px;
  background-color: #E5E5E5;
  overflow: hidden;
  font-style: italic;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

section.about .icons div.active {
  width: 50%;
  background-color: #797979;
  color: #fff;
  font-weight: normal;
}

section.about .icons div span {
  margin: 0 17px;
  color: #00A3FF;
  font-weight: bold;
}

section.contact h2 {
  font-size: 35px;
  margin-bottom: 20px;
}

section.contact form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

section.contact label, section.contact input, section.contact textarea {
  display: block;
  width: 100%;
  margin-bottom: 5px;
}

section.contact input, section.contact textarea {
  border: 1px solid #000;
  font-size: 16px;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

section.contact label {
  font-size: 20px;
}

section.contact button {
  width: 65%;
}

.blank {
  height: 56px;
  width: 100%;
  padding: 0;
  margin: 0;
}

.desktop {
  display: none;
}

@media (min-width: 450px) {
  body {
    max-width: 450px;
    background-color: #fff;
  }
  html {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #242424;
  }
  header {
    max-width: 450px;
  }
  header div.modal-menu {
    max-width: 450px;
    left: calc((100% - 450px) / 2);
  }
}

@media (min-width: 800px) {
  body {
    max-width: 100%;
  }
  section {
    padding: 7.0rem 30px;
  }
  section.cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  section.cards a {
    width: 47.5%;
  }
  section.projects-cont {
    -ms-flex-flow: wrap;
        flex-flow: wrap;
  }
  section.projects-cont .card-cont {
    width: 47.5%;
  }
  section.about img {
    width: 50%;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  section.story iframe {
    height: 300px;
  }
  section.experience {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hero {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .hero h1 {
    width: 100%;
    text-align: left;
  }
  header {
    max-width: 100%;
    position: relative;
  }
  header button {
    color: #000;
    padding: 0px 10px;
    font-weight: normal;
  }
  header button:hover {
    background-color: #f2f2f2;
  }
  .blank {
    height: 0;
  }
  .desktop {
    display: block;
  }
  .mobile {
    display: none;
  }
}

/* ------ OLD STLYES ----- */
