* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100vh;
}

button, a, i {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: #000;
}

ul {
    list-style-position: inside;
}

.App {
    // width: 70%;
    margin: 0 auto;
    // background: #fff;
}

header, footer {
    padding: 50px 100px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    .title {
        font-family: Helvetica, Tahoma, sans-serif;
        color: #000000;
        font-weight: bold;
        font-size: 30px;
    }

    nav {
        display: flex;
        flex-flow: row nowrap;
        
        button {
            margin-left: 10px;
            padding: 10px 20px;
            background: transparent;
            border-radius: 5px;
            border: 0;
            font-size: 17px;
            color: #000;

            &:hover {
                background: #000;
                color: #fff;
            }
        }

    }
}

footer {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-end;
    background: url('../assets/lightrays-footer.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #fff;
    height: 350px;
    position: relative;
    z-index: -2;

    h4 {
        width: 100%;
        color: #fff;
        font-size: 3.0rem;
        font-family: 'Sarina', cursive;
        text-align: right;
        mix-blend-mode: exclusion;
    }
    
    i {
        mix-blend-mode: exclusion;
        color: #fff;
        margin: 0 0.8rem;
        font-size: 2.0rem;
    }
}

section {
    padding: 50px 100px;
    // background: #fff;
    height: 100%;
    // border-radius: 20px 20px 20px 20px;
    position: relative;
    overflow: hidden;

    &.hero-container {
        width: 100%;
        height: 100vh;
        background: linear-gradient(to bottom, #fff 50%, #000 50%);
        background-attachment: scroll;
        display: flex;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;

        .hero {
            background: url('../assets/full-stack-developer-text.svg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            color: #fff;
            mix-blend-mode: exclusion;
            width: 100%;
            display: flex;
            flex-flow: column nowrap;
            justify-content: flex-end;
            align-items: center;
            padding-bottom: 10%;

            button {
                padding: 1.0rem 1.5rem;
                color: #fff;
                border-radius: 10px;
                background: #7b7b7b;
                font-size: 1.1rem;
                outline: none;
                border: none;
            }
        }

        p {
            margin-bottom: 1.5rem;
        }
    }

    .projects {
        display: flex;
        flex-flow: column nowrap;
        z-index: 3;
        
        p {
            padding: 25px 0px 10px;
        }

        i {
            margin-right: 25px;
            font-size: 30px;
        }

        img {
            width: 50%;
            border: 1px solid #e2e2e2;
        }

        .container {
            display: flex;
            flex-flow: row nowrap;
            padding-top: 50px;

            div {
                width: 50%;
                padding: 25px 50px;

                ul {
                    padding-bottom: 25px;
                }
            }
        }
    }
}