* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100vh;
}

button, a, i {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: #000;
}

ul {
    list-style-position: inside;
}

hr {
    background: linear-gradient(to right, #000, transparent);
    height: 2px;
    border: none;
    margin-bottom: 2.0rem;
}

.App {
    margin: 0 auto;
}

header, footer {
    padding: 2.0rem 12% 1.0rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    .title {
        font-family: Helvetica, Tahoma, sans-serif;
        color: #000000;
        font-weight: bold;
        font-size: 30px;
    }

    nav {
        display: flex;
        flex-flow: row nowrap;
        
        button {
            margin-left: 10px;
            padding: 10px 20px;
            background: transparent;
            border-radius: 5px;
            border: 0;
            font-size: 17px;
            color: #000;

            &:hover {
                background: #000;
                color: #fff;
            }
        }

    }
}

header {
    position: relative;
    z-index: 5;
}

footer {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-end;
    background: url('../assets/lightrays-footer.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #fff;
    height: 350px;

    h4 {
        width: 100%;
        color: #fff;
        font-size: 3.0rem;
        font-family: 'Sarina', cursive;
        text-align: right;
        mix-blend-mode: exclusion;
    }
    
    i {
        mix-blend-mode: exclusion;
        color: #fff;
        margin: 0 0.8rem;
        font-size: 2.0rem;
    }
}

section {
    padding: 4.0rem 12%;
    height: 100%;
    position: relative;
    overflow: hidden;

    h1 {
        font-family: 'Sarina', cursive, sans-serif;
        font-size: 2.5rem;
        // margin-bottom: -12px;
    }

    &.hero-container {
        width: 100%;
        height: 100vh;
        background: linear-gradient(to bottom, #fff 50%, #000 50%);
        background-attachment: scroll;
        display: flex;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 4;

        .hero-accent.img {
            background: url('../assets/arrows-background-small.png');
            position: absolute;
            top: 56%;
            left: 0;
            z-index: 3;
            height: 50vh;
            width: 100%;
        }
        
        .hero-accent.bg {
            background: linear-gradient(to top right, #151515, #000, #363636);
            position: absolute;
            top: 50%;
            left: 0;
            z-index: 2;
            height: 50vh;
            width: 100%;
        }

        .hero {
            background: url('../assets/full-stack-developer-text.svg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            color: #fff;
            mix-blend-mode: exclusion;
            width: 100%;
            display: flex;
            flex-flow: column nowrap;
            justify-content: flex-end;
            align-items: center;
            padding-bottom: 10%;
            position: relative;
            z-index: 4;

            button {
                padding: 1.0rem 2.0rem;
                color: #fff;
                border-radius: 6px;
                background: linear-gradient(0deg, transparent 20%, #232323);
                background-color: #444;
                border: 1px solid #757575;
                font-size: 1.1rem;
                outline: none;
                transition: 0.35s;

                &:hover {
                    background-color: #545454;
                }
            }
        }

        p {
            margin-bottom: 1.5rem;
        }
    }

    .projects {
        display: flex;
        flex-flow: column nowrap;
        z-index: 3;
        
        h3 {
            margin-bottom: 1.0rem;
        }

        p {
            margin-bottom: 1.0rem;
        }

        i {
            margin-right: 25px;
            font-size: 30px;
        }

        img {
            border: 1px solid #e2e2e2;
            padding: 0;
            width: 100%;
        }

        .container {
            display: flex;
            flex-flow: row nowrap;
            margin-bottom: 50px;

            div {
                width: 100%;

                &.content {
                    display: flex;
                    flex-flow: column nowrap;
                    justify-content: space-between;
                    width: 100%;
                    padding: 0 20px;
    
                    ul {
                        padding-bottom: 25px;
    
                        li {
                            display: inline;
    
                            &:after {
                                content: ", "
                            }
    
                            &:last-child {
                                &:after {
                                    content: "";
                                }
                            }
                        }
                    }
                }
            }

        }
    }

    &.contact {
        form {
            display: flex;
            flex-flow: column nowrap;
            width: 30%;
            margin: 0 auto;

            label {
                font-weight: bold;
            }

            input {
                padding: 10px 20px;
                font-size: 1.2rem;
                margin-bottom: 1.0rem;
            }

            button {
                padding: 1.0rem 2.0rem;
                color: #fff;
                border-radius: 6px;
                background: linear-gradient(0deg, transparent 20%, #232323);
                background-color: #444;
                border: 1px solid #757575;
                font-size: 1.1rem;
                outline: none;
                transition: 0.35s;

                &:hover {
                    background-color: #545454;
                }
            }
        }
    }
}